@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dream Avenue";
    src: url("/fonts/Dream-Avenue.ttf");
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Regular.ttf");
    font-weigth: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Raleway Thin";
    src: url("/fonts/Raleway-Thin.ttf");
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Raleway Light";
    src: url("/fonts/Raleway-Light.ttf");
    font-style: normal;
    font-display: swap;
  }
}
